/* Estilização da tabela */
.styled-table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.styled-table th, 
.styled-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilização das linhas alternadas */
.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilização do cabeçalho da tabela */
.styled-table th {
    background-color: #007bff;
    color: white;
}

.scatter-plot-box{
    border-width: 5px;
    border-color: black;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

.table-scrollable {
    max-height: 300px; /* Defina a altura máxima da tabela */
    max-width: 800px;
    overflow-y: auto;
    overflow-x: auto; /* Torna a tabela rolável verticalmente */
    position: relative;
    font-size: small;
  }
  